bin/
tmp/
opencal.jar

# Gradle ##############################
build/
.gradle/

# Ant #################################
dist/

# Docs ################################
doc/doxygen/
doc/javadoc/

# InteliJ IDEA ########################
out/
*.iml
*.ipr
*.iws

# Eclipse #############################
.classpath
.project
.settings/

# Vim swap files ######################
*.swp

# Emacs temporary files ###############
*~

# Debian ##############################
debian/files
debian/opencal.substvars
debian/opencal.postinst.debhelper
debian/opencal.postrm.debhelper
debian/opencal.debhelper.log
debian/opencal/

# LaTeX ###############################
*.log
*.aux
*.dvi
*.toc
*.lot
*.lof
*.out

# MacOSX Thumbnail files ##############
.DS_Store

# Windows Thumbnail files #############
Thumbs.db
