bin/
dist/
doc/doxygen/
doc/javadoc/
tmp/
.settings/
debian/files
debian/opencal.substvars
debian/opencal.postinst.debhelper
debian/opencal.postrm.debhelper
debian/opencal.debhelper.log
debian/opencal/
opencal.jar
*.swp
*.log
*.aux
*.dvi
*.toc
*.lot
*.lof
*.out
.classpath
.project
