Source: opencal
Section: misc
Priority: optional
Maintainer: Jeremie Decock <jd.jdhp@gmail.com>
Build-Depends: debhelper (>> 7), javahelper (>= 0.32) , ant
Build-Depends-Indep: openjdk-6-jdk
Standards-Version: 3.8.3
Homepage: http://www.jdhp.org

Package: opencal
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}, gnuplot (>= 4.4.0), graphviz, junit (>= 3.8), texlive, texlive-latex-extra, libswt-gtk-3.5-java, libswt-gnome-gtk-3.5-jni, libswt-cairo-gtk-3.5-jni, libswt-mozilla-gtk-3.5-jni, libjfreechart-java
Description: OpenCAL
 OpenCAL
