* {
    font-family : monospace,fixed;
    font-size : 14px;
}

body {
    white-space : pre-wrap;
}

h1 {
    font-size : 16px;
    font-family : verdana, sans-serif;
}

img {
    max-width : 100%;
}
